body {
  margin: 0;
  background: #0d0f14;
  color: #ffffff;
  font-family: system-ui, sans-serif;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#particles-js {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.navbar {
  background: rgba(12, 11, 11, 0.9);
  backdrop-filter: blur(6px);
}

.search-input {
  width: 220px;
}

.hero {
  margin-top: 4rem;
  position: relative;
  z-index: 1;
}

.logo {
  max-width: 180px;
  margin-bottom: 1.5rem;
}
.support-page h2 {
  margin-top: 60px;
  text-align: center;
}
.support-page p {
  max-width: 800px;
  margin: 20px auto;
}
.support-page h3 {
  margin-top: 200px;
}
.support-faq {
  margin-top: 20px;
  text-align: center;
}

.faq-wrapper {
  max-width: 600px;
  margin: 40px auto;
  text-align: left;
}
.accordion-item {
  border: none;
  margin-bottom: 12px;
}

.accordion-button {
  background-color: #f8f9fa;
  border-radius: 12px;
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  background-color: #eef2ff;
  color: #000;
}

.accordion-body {
  text-align: center;
  font-size: 0.95rem;
}
